/** {
	outline: 1px solid red;
}*/

html, body {
	background: rgb(255, 255, 255);
	height: 100%;
	margin-left: 100px;
	margin-right: 100px;
}

/*PARENT*/
.intro {
	font-family: "Arial", sans-serif;
	font-size: 18px;
	height: 20%;
}

	.right-align {
		text-align: right;
	}

/*PARENT*/
.main {
	width: 100%;
	height: 80%;
	max-height: 700px;
	margin: 0 auto;
	text-align: center;
}

	.icons {
		position: relative;
		display: inline-block;
		width: 100%;
		max-height: 150px;
		margin: 0 auto;
	}

	.row {
		height: 20%;
	}

	.image {
		height: 20%;
		max-height: 150px;
		width: 20%;
		max-width: 150px;
		margin: 10px;
	}

/*PARENT*/
footer {
	height: 10%;
	text-align: center;
}

	.fline {
		margin: 10px;
		padding-top: 20px;
		border-top: 1px solid #aaaaaa;

	}

	.noWrap {
		white-space: nowrap;
	}

	.terms {

	}

	.privacy {
		padding-left: 20px;

	}